@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Oooh+Baby&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        overscroll-behavior: none;
    }

    *:focus {
        outline: none;
    }

    body {
        margin: 0;
        overscroll-behavior: none;
    }

    ::-webkit-scrollbar {
        display: none;
    }
    h1 {
        @apply text-2xl
    }
    h2 {
        @apply text-xl
    }
    h3 {
        @apply text-l
    }
    h4 {
        @apply text-m
    }
}

@layer components {
    .responsive-container {
        @apply
        imac:max-w-container-imac 
        desktop:max-w-container-desktop 
        laptop:max-w-container-laptop 
        tablet:max-w-container-tablet 
        mobile:max-w-container-mobile
    }
}